.hideMenuNav {
  display: none;
}
.showMenuNav {
  display: block;
  position: absolute;
  width: 150px;
  height: 25vh;
  top: 30;
  right: 0;
  background: #404859;
  border-style: solid;
  border-width: 1px;
  border-color: #4ade80;
  border-radius: 10px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 500px) {
  .showMenuNav {
    width: 200px;
  }
} ;
