.grid-padding {
  margin: 30px;
}

.grid-padding-button {
  padding: 10px;
}

.addPlantButton {
  text-align: right;
  margin-right: 40px;
}

.btn-remove {
  padding: 5px;
}
.btn-edit {
  padding: 5px;
  margin-right: 8px;
}
